{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Hello! Welcome to my TravelBlog &#128521 {% endblock %}</h1>
    {% for post in posts %}
        <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        
        </video>
        <hr>
        <a href="https://www.youtube.com/watch?v=wgSjJVRH6wY">Lacock, England, a beautiful village and morning walk</a>
        
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
